.body{
    background-color: white;
}

.form{
    background-color: white;
    border-radius: 11px;
    margin-top: 200px!important;
    height: 650px;
    width: 44%;
}

.crew {
    color: white;
    margin-top: 150px !important;
}

.logo{
    

}